.shop {
    display: grid;
    grid-template-columns: auto 264px;
}

.products {
    margin: 120px 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    font-weight: 400;
}